CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.ccls-cache/
.vscode/
build/
.cache/
gtktests.c


CMakePresets.json
advanced_version.c
advanced_version2.c
hello
toolchain.cmake
ui.c
